@model RwaUtilities.Models.Apartment

<div class="card" style="background-color: lightgray">
    <img src="@Url.Action("Picture", "Apartments", new { path = (Model.Images.FirstOrDefault(i => i.IsRepresentative)).Path })" alt="Image" class="card-img-top" style="height: 16rem; width: 100%;" />
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">@Model.NameEng</h5>
            </div>
            <div>
                @if (Model.AverageRating != 0)
                {
                    for (int i = 0; i < Model.AverageRating; i++)
                    {
                        <img src="~/Content/Resources/star-fill.svg" class="" />
                    }

                    for (int i = 0; i < 5 - Model.AverageRating; i++)
                    {
                        <img src="~/Content/Resources/star-empty.svg" class="" />
                    }
                }
                else
                {
                    <span>N/A</span>
                    <img src="~/Content/Resources/star-fill.svg" class="mb-1" />
                }

            </div>
        </div>


        <div class="d-flex justify-content-between">
            <div>
                <img src="~/Content/Resources/geo-alt-fill.svg" />
                @Html.Label(Model.City.NameCity)
            </div>

            <div>
                <img src="~/Content/Resources/bed.svg" style="width: 1.5rem; height: 1.5rem" class="mx-1" />
                @Html.Label(Model.TotalRooms.ToString())
            </div>

            <div>
                <img src="~/Content/Resources/beach.svg" style="width: 1.5rem; height: 1.5rem" class="mx-1" />
                @Html.Label(Model.BeachDistance.ToString() + " m")
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
            <div>
                <img src="~/Content/Resources/coin.svg" />
                @Html.Label(Model.Price.ToString("F"))
            </div>
            @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-success" })
        </div>

    </div>
</div>
